{% extends "manager/base.html" %}
{% block content %}
<!DOCTYPE html>   
<html lang="en">   
<head>   
<meta charset="utf-8">   
<title>Room View</title>   
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>  
<body style="margin:20px auto">  
<div class="container">
<div class="row header" style="text-align:center;color:green">
<h3>Rooms Detail List</h3>
</div>
<table id="myTable" class="table table-striped">  
        <thead>  
          <tr>  
            <th>Room No</th>  
            <th>Floor</th>  
            <th>Total Beds</th>  
            <th>Free Beds</th>
            <th>Rent</th>   
          </tr>  
        </thead>  
        <tbody> 
         {% for i in rooms %}
          <tr>  
            <td><a href="#">{{ i.room_no }}</a></td>
            <td>{{ i.floor }}</td>  
            <td>{{ i.beds }}</td>  
            <td>{{ i.free_beds }}</td> 
            <td>{{ i.rent }}</td>   
          </tr>  
   		   {% endfor %}
        </tbody>  
      </table>  
	  </div>
</body>  
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>
</html>  
{% endblock content %}